@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body{
    background: hsla(154, 100%, 76%, 1);
    background: linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
    font-family: 'Quicksand', sans-serif;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}
.container {
    display: flex;
    flex-direction: column;
    font-size: 180%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
h1 {
    font-size: 230%;
    font-family: 'Righteous', cursive;
    color: white;
}
p{
    font-family: 'Righteous', cursive;
    color: white;  
}
button {
    background-color: rgb(138, 149, 241);
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 11px;
    font-size: 16px;
    color: white;
    margin: 10px;
}
button:hover {
    cursor: pointer;
    background-color: #cc8ddb;
    outline: 0;
}
input[type="number"], input[type="search"], input[type="text"], textarea, select {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin: 10px;

}
.message{
    margin: 3%;
}
.guessCounter{
    float: right;
    text-align: center;
    margin-top: -4.8%;
    padding: 9px 9px;
    background-color: #cc8ddb;
    border-radius: 40px;
    color: white;
}